body {
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3), 
    rgba(0, 0, 0, 0.3)
  ),
  url(https://img.freepik.com/free-photo/solid-navy-blue-concrete-textured-wall_53876-124584.jpg?w=1060&amp;t=st=1694108398~exp=1694108998~hmac=7534856e7c24d951c507ba467acbea44cd5504a71d3be9ab47a361f0e4e8c54b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  
  margin: 0;
  padding: 0;
}

/* App.css */

/* Custom styles for the wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Custom styles for the app bar */
.app-bar {
  border-radius: 15px;
  margin: 30px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 600px;
  border: 2px solid black;
}

/* Media query for small screens */
@media (max-width: 600px) {
  .app-bar {
    width: 90%;
  }
}

/* Custom styles for the app title */
.app-title {
  margin-left: 15px;
}

/* Custom styles for the sidebar */

  /* Add your notification styles here */

/* App.css */

/* Style for the round button */
.round-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%; /* Makes the button round */
  padding: 10px;
  font-size: 24px; /* Adjust the font size as needed */
  cursor: pointer;
}

/* Style for the sidebar container */
.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px; /* Adjust the width as needed */
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}
